*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D1D1D1;
    
    font-family: "Poppins", sans-serif;
}

main{
    display: flex;
}

#section-1{
    width: 30vw;
    margin: 1.5rem;
    text-align: center;
}

#section-2{
    width: 70vw;
    margin: 1.5rem;
}

#logos{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
#colors{
    width: 50%;
}
.color-set{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-evenly;
    
}
.color-set div{
    width: 30%;
}
h3{
    color: #6C6B6C;
    font-weight: normal;
    border-bottom: 1px solid rgba(122, 121, 121, 25%);
    margin-bottom: 0.5rem;
}

.bottom-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-2{
    height: 20%;
}

.pink{
    color: #ED5270;
    font-weight: bold;
}
.light{
    font-weight: normal;
}
.first-wuf,
.second-wuf{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#introduction img,
#introduction p{
    margin: 0.8rem auto;
    height: 20%;
    
}
#introduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#introduction p{
    width: 70%;
    text-align: left;
}

.color-1{
   color: #F53258;
}
.color-2{
    color: #ED5270;
}
.color-3{
    color: #F3859A;
}
.color-4{
    color: #222121;
}
.color-5{
    color: #3E3C3D;
    
}
.color-6{
    color: #636061;
}
.color-7{
    color: #F4F4F4;
}
h2.light,
.normal{ 
    margin-bottom: 2rem;
}


.highlight{
    font-weight: bold;
    
}
.underline{
    text-decoration: underline;
}

#introduction p.italic{
    font-style: italic;
    width: 45%;
    text-align: center;
}